{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<br>
 <div align="center" class="container" id="doc-form-wrapper">
   <div class="jumbotron selection_panel" id="request_selection_panel">
    <h2>What would like me to help you with?</h2>
    <button onclick="showInput('1')" class="btn btn-outline-secondary w-120">Create a study schedule</button>
     <button onclick="showInput('2')" class="btn btn-outline-secondary w-120">I NEED SOME MOTIVATION</button>
    <button onclick="showInput('3')" class="btn btn-outline-secondary w-120">Create a quiz</button>
   </div>
   <div align="center" class="container">
     <br><br><hr>
     <form id="input_form" method="POST" style="display: none;">
        {% csrf_token %}
        <input type="text" id="input" name="input">
        <button type="submit" class="btn btn-outline-secondary" id="submit_button">Submit</button>
    </form>
   </div>

</div>
    <script>
        function showInput(pk) {
            const form = document.getElementById('input_form');
            const input = document.getElementById('input');
            const submitButton = document.getElementById('submit_button');

            form.style.display = 'block';
            form.action = `${pk}`;

            if (pk === '1') {
                input.placeholder = 'What subjects would you like to include?';
            } else if (pk === '2') {
                input.placeholder = 'Who would you like to hear it from?';
            } else if (pk === '3') {
                input.placeholder = 'Sure, give me a topic';
            }
        }

        //function directSubmit(buttonType) {
         //   window.location.href = `/submit/${pk}/`;
        //}
    </script>
{% endblock %}
