{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<br>
 <div align="center" class="container" id="doc-form-wrapper">
   <div class="jumbotron">
    <h2>What would like me to help you with?</h2>
    <a href="{% url 'tutor:schedule'  %}" role="button" class="btn btn-outline-secondary w-120">Create a study schedule</a>
    <a href="{% url 'tutor:motivate'  %}" role="button" class="btn btn-outline-secondary w-120">I NEED SOME MOTIVATION</a>
    <a href="{% url 'tutor:quiz' %}" role="button" class="btn btn-outline-secondary w-120">Create a quiz</a>

   </div>

</div>
{% endblock %}
